<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body class="searchResult">
  <!-- Your Code Goes Here -->
  <% if (typeof movie !== 'undefined') { %>
    <h1><%= movie.name %></h1>
    <p><%= movie.desc %></p>
    <a href="../">Back to home page</a>
  <% } else { %>
    <p>Movie could not be found.</p>
  <% } %>
</body>

</html>